In [1]:
import pymongo

In [24]:
client = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
mydb = client["Employee"]
information = mydb.employeeinformation
salaries = mydb.salaries

In [4]:
record = {
    "firstname":"hamza",
"lastname":"hayat",
"loc":"isl"
}

In [6]:
record1 =[{
    "firstname":"hamza",
"lastname":"hayat",
"loc":"isl"
}, {
    "firstname":"omer",
"lastname":"sultan",
"loc":"lah"
}, {
    "firstname":"azan",
"lastname":"abrar",
"loc":"lah"
},{
    "firstname":"abd",
"lastname":"javaid",
"loc":"lah"
}]

In [5]:
information.insert_one(record)

In [7]:
information.insert_many(record1)

In [34]:
salary1 = [{"firstname":"Hamza",
"lastname":"hayat",
"salary":"23409",
"expense":"80000"},

{"firstname":"omer",
"lastname":"sultan",
"salary":"340000",
"expense":"60000"}, 

{"firstname":"azan", 
"lastname":"abrar",
"salary":"200000",
"expense":"20000"},

{"firstname":"ahsan",
"lastname":"hayat",
"salary":"70000",
"expense":"80000"},

{"firstname":"saad",
"lastname":"hayat",
"salary":700900,
"expense":800}]

In [35]:
salaries.insert_many(salary1)

In [36]:
for record in salaries.find():
    print(record)

{'_id': ObjectId('61633f76785b8af376273349'), 'name': 'Hamza', 'salary': '23409', 'expense': '80000'}
{'_id': ObjectId('61633f76785b8af37627334a'), 'name': 'omer', 'salary': '340000', 'expense': '60000'}
{'_id': ObjectId('61633f76785b8af37627334b'), 'name': 'azan', 'salary': '200000', 'expense': '20000'}
{'_id': ObjectId('61633f76785b8af37627334c'), 'name': 'ahsan', 'salary': '70000', 'expense': '80000'}
{'_id': ObjectId('61633fd5785b8af37627334d'), 'name': 'Hamza', 'salary': '23409', 'expense': '80000'}
{'_id': ObjectId('61633fd5785b8af37627334e'), 'name': 'omer', 'salary': '340000', 'expense': '60000'}
{'_id': ObjectId('61633fd5785b8af37627334f'), 'name': 'azan', 'salary': '200000', 'expense': '20000'}
{'_id': ObjectId('61633fd5785b8af376273350'), 'name': 'ahsan', 'salary': '70000', 'expense': '80000'}
{'_id': ObjectId('61633fd5785b8af376273351'), 'name': 'saad', 'salary': 700900, 'expense': 800}
{'_id': ObjectId('6163417d785b8af376273352'), 'firstname': 'Hamza', 'lastname': 'hayat', 'salary': '23409', 'expense': '80000'}
{'_id': ObjectId('6163417d785b8af376273353'), 'firstname': 'omer', 'lastname': 'sultan', 'salary': '340000', 'expense': '60000'}
{'_id': ObjectId('6163417d785b8af376273354'), 'firstname': 'azan', 'lastname': 'abrar', 'salary': '200000', 'expense': '20000'}
{'_id': ObjectId('6163417d785b8af376273355'), 'firstname': 'ahsan', 'lastname': 'hayat', 'salary': '70000', 'expense': '80000'}
{'_id': ObjectId('6163417d785b8af376273356'), 'firstname': 'saad', 'lastname': 'hayat', 'salary': 700900, 'expense': 800}

In [39]:
for record in salaries.find({"firstname":{"$in":["omer","azan"]}}):
    print(record)

{'_id': ObjectId('6163417d785b8af376273353'), 'firstname': 'omer', 'lastname': 'sultan', 'salary': '340000', 'expense': '60000'}
{'_id': ObjectId('6163417d785b8af376273354'), 'firstname': 'azan', 'lastname': 'abrar', 'salary': '200000', 'expense': '20000'}

In [45]:
for record in salaries.find({"name":"saad", "expense":{"$lt":50000}}):
    print(record)

{'_id': ObjectId('61633fd5785b8af376273351'), 'name': 'saad', 'salary': 700900, 'expense': 800}

In [46]:
for record in salaries.find({'$or':[{'firstname':'azan'},{'lastname':'hayat'}]}):
    print(record)

{'_id': ObjectId('6163417d785b8af376273352'), 'firstname': 'Hamza', 'lastname': 'hayat', 'salary': '23409', 'expense': '80000'}
{'_id': ObjectId('6163417d785b8af376273354'), 'firstname': 'azan', 'lastname': 'abrar', 'salary': '200000', 'expense': '20000'}
{'_id': ObjectId('6163417d785b8af376273355'), 'firstname': 'ahsan', 'lastname': 'hayat', 'salary': '70000', 'expense': '80000'}
{'_id': ObjectId('6163417d785b8af376273356'), 'firstname': 'saad', 'lastname': 'hayat', 'salary': 700900, 'expense': 800}

In [48]:
for record in salaries.find({'$and':[{'firstname':'azan'},{'lastname':'abrar'}]}):
    print(record)

{'_id': ObjectId('6163417d785b8af376273354'), 'firstname': 'azan', 'lastname': 'abrar', 'salary': '200000', 'expense': '20000'}

In [49]:
inventory = mydb.inventory

In [66]:
invent1 = [{    
    "item":"paper",
    "price":20,
    "size":{"h":10, 'w':10, "uom":'cm'}},
{
    "item":"glue",
    "price":200,
    "size":{"h":100, 'w':100, "uom":'cm'}},
{
    "item":"hammer",
    "price":500,
    "size":{"h":20, 'w':20, "uom":'cm'}},
{
    "item":"paper",
    "price":200,
    "size":{"h":10, 'w':10, "uom":'cm'}},
{
    "item":"stapler",
    "price":200,
    "size":{"h":100, 'w':100, "uom":'cm'}},
{
    "item":"hammer",
    "price":500,
    "size":{"h":20, 'w':20, "uom":'cm'}}]

In [67]:
inventory.insert_many(invent1)

In [69]:
for record in inventory.find({'price':200, 'size':{'h':100, 'w':100, 'uom':'cm'}}):
    print(record)

{'_id': ObjectId('6163494d785b8af376273359'), 'item': 'stapler', 'price': 200, 'size': {'h': 100, 'w': 100, 'uom': 'cm'}}
{'_id': ObjectId('61634bd1785b8af37627335c'), 'item': 'stapler', 'price': 200, 'size': {'h': 100, 'w': 100, 'uom': 'cm'}}
{'_id': ObjectId('61634bd1785b8af37627335f'), 'item': 'stapler', 'price': 200, 'size': {'h': 100, 'w': 100, 'uom': 'cm'}}
{'_id': ObjectId('61634cc3785b8af376273362'), 'item': 'glue', 'price': 200, 'size': {'h': 100, 'w': 100, 'uom': 'cm'}}
{'_id': ObjectId('61634cc3785b8af376273365'), 'item': 'stapler', 'price': 200, 'size': {'h': 100, 'w': 100, 'uom': 'cm'}}

In [75]:
salaries.replace_one({"item":'hammer'},

{'item':'hammer', 
"price":500,
"size":
[{"h":30, 'w':20, "uom":'cm'},
{"h":10, 'w':10, "uom":'cm'}]})