In [1]:
import pandas as pd
import os
from matplotlib import pyplot as plt
import numpy as np

In [3]:
os.getcwd()

'C:\\Users\\Drew\\Documents\\data_science_projects\\Omdena\\Dryad\\Dryad\\released_datasets\\dataset-v1-A\\code'

In [4]:
csv_path = '../../../archive/AA Dataset/aa_dryad_merged_cleaned_data2_update.csv'

In [5]:
df = pd.read_csv(csv_path)

In [6]:
df.head()

,sensor_node_id,scan_time,temp_0,temp_1,temp_2,temp_3,temp_4,temp_5,temp_6,temp_7,...,start_time,end_time,burn_material,burn_material_amount(g),hotplate_start,hotplate_temp,distance_sensor_hotplate,venue,venue_type,encoded_specimen
0,146,2021-09-01 09:01:36.817528009,18.8,19.0,19.6,19.6,19.7,20.0,20.1,20.1,...,2021-09-01 08:30:22.000000000,2021-09-01 18:50:46.000000000,SP2,600.0,2021-09-01 10:03:57.000000000,500,30m,hall,Hall,0
1,146,2021-09-01 09:02:13.375891000,19.2,19.3,19.8,19.8,19.9,20.2,20.2,20.2,...,2021-09-01 08:30:22.000000000,2021-09-01 18:50:46.000000000,SP2,600.0,2021-09-01 10:03:57.000000000,500,30m,hall,Hall,0
2,146,2021-09-01 09:02:50.057426000,19.3,19.4,19.9,19.9,20.0,20.3,20.3,20.3,...,2021-09-01 08:30:22.000000000,2021-09-01 18:50:46.000000000,SP2,600.0,2021-09-01 10:03:57.000000000,500,30m,hall,Hall,0
3,146,2021-09-01 09:03:26.565743000,19.3,19.5,20.0,20.0,20.1,20.3,20.4,20.3,...,2021-09-01 08:30:22.000000000,2021-09-01 18:50:46.000000000,SP2,600.0,2021-09-01 10:03:57.000000000,500,30m,hall,Hall,0
4,146,2021-09-01 09:04:03.635421991,19.4,19.5,20.0,20.0,20.1,20.4,20.4,20.4,...,2021-09-01 08:30:22.000000000,2021-09-01 18:50:46.000000000,SP2,600.0,2021-09-01 10:03:57.000000000,500,30m,hall,Hall,0

In [7]:
df.shape

(2498, 45)

In [8]:
df.columns

Index(['sensor_node_id', 'scan_time', 'temp_0', 'temp_1', 'temp_2', 'temp_3',
       'temp_4', 'temp_5', 'temp_6', 'temp_7', 'temp_8', 'temp_9', 'humid_0',
       'humid_1', 'humid_2', 'humid_3', 'humid_4', 'humid_5', 'humid_6',
       'humid_7', 'humid_8', 'humid_9', 'gas_scan_0', 'gas_scan_1',
       'gas_scan_2', 'gas_scan_3', 'gas_scan_4', 'gas_scan_5', 'gas_scan_6',
       'gas_scan_7', 'gas_scan_8', 'gas_scan_9', 'gas_scan_cnt', 'trigger',
       'experiment_id', 'start_time', 'end_time', 'burn_material',
       'burn_material_amount(g)', 'hotplate_start', 'hotplate_temp',
       'distance_sensor_hotplate', 'venue', 'venue_type', 'encoded_specimen'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 0 to 2497
Data columns (total 45 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sensor_node_id            2498 non-null   int64
 1   scan_time                 2498 non-null   object
 2   temp_0                    2498 non-null   float64
 3   temp_1                    2498 non-null   float64
 4   temp_2                    2498 non-null   float64
 5   temp_3                    2498 non-null   float64
 6   temp_4                    2498 non-null   float64
 7   temp_5                    2498 non-null   float64
 8   temp_6                    2498 non-null   float64
 9   temp_7                    2498 non-null   float64
 10  temp_8                    2498 non-null   float64
 11  temp_9                    2498 non-null   float64
 12  humid_0                   2498 non-null   float64
 13  humid_1                   2498 non-null   float64
 14  humid_2                   2498 non-null   float64
 15  humid_3                   2498 non-null   float64
 16  humid_4                   2498 non-null   float64
 17  humid_5                   2498 non-null   float64
 18  humid_6                   2498 non-null   float64
 19  humid_7                   2498 non-null   float64
 20  humid_8                   2498 non-null   float64
 21  humid_9                   2498 non-null   float64
 22  gas_scan_0                2498 non-null   float64
 23  gas_scan_1                2498 non-null   float64
 24  gas_scan_2                2498 non-null   float64
 25  gas_scan_3                2498 non-null   float64
 26  gas_scan_4                2498 non-null   float64
 27  gas_scan_5                2498 non-null   float64
 28  gas_scan_6                2498 non-null   float64
 29  gas_scan_7                2498 non-null   float64
 30  gas_scan_8                2498 non-null   float64
 31  gas_scan_9                2498 non-null   float64
 32  gas_scan_cnt              2498 non-null   float64
 33  trigger                   2498 non-null   object
 34  experiment_id             2498 non-null   int64
 35  start_time                2498 non-null   object
 36  end_time                  2498 non-null   object
 37  burn_material             2498 non-null   object
 38  burn_material_amount(g)   2070 non-null   float64
 39  hotplate_start            2498 non-null   object
 40  hotplate_temp             2498 non-null   object
 41  distance_sensor_hotplate  2498 non-null   object
 42  venue                     2498 non-null   object
 43  venue_type                2498 non-null   object
 44  encoded_specimen          2498 non-null   int64
dtypes: float64(32), int64(3), object(10)
memory usage: 878.3+ KB

In [10]:
df.experiment_id.value_counts()

6     935
8     428
9     428
14    142
10    133
12    127
11    121
7      75
15     66
13     43
Name: experiment_id, dtype: int64

In [11]:
experiments = list(df.experiment_id.value_counts().index)
experiments

[6, 8, 9, 14, 10, 12, 11, 7, 15, 13]

In [12]:
df[['experiment_id','gas_scan_cnt']].groupby('experiment_id').max()

               gas_scan_cnt
experiment_id
6                       6.0
7                       6.0
8                       6.0
9                      15.0
10                     15.0
11                      6.0
12                      6.0
13                      6.0
14                      6.0
15                      6.0

In [13]:
train_experiments = [6,7,8,9,14]
valid_experiments = [10,12]
test_experiments = list(set(experiments)-set(train_experiments + valid_experiments))
test_experiments

[11, 13, 15]

In [14]:
all_experiments = train_experiments + valid_experiments + test_experiments

In [15]:
len(set(all_experiments + experiments))

10

In [16]:
train_set = df[df['experiment_id'].isin(train_experiments)]
train_set.shape

(2008, 45)

In [17]:
valid_set = df[df['experiment_id'].isin(valid_experiments)]
valid_set.shape

(260, 45)

In [18]:
test_set = df[df['experiment_id'].isin(test_experiments)]
test_set.shape

(230, 45)

In [19]:
total_size = len(train_set) + len(valid_set) + len(test_set)
total_size, len(df)

(2498, 2498)

In [54]:
output_file = '../data/train_set_v1.csv'
train_set.to_csv(output_file, index = False)

In [58]:
output_file = '../data/test_set_v1.csv'
test_set.to_csv(output_file, index = False)

In [20]:
output_file = '../data/valid_set_v1.csv'
valid_set.to_csv(output_file, index = False)

In [21]:
df = pd.read_csv(output_file)

In [22]:
df.shape

(260, 45)

In [23]:
df.experiment_id.value_counts()

10    133
12    127
Name: experiment_id, dtype: int64